In [3]:
#importing all required libraries
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import time 
from time import sleep

<b>Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.</b>

In [25]:
#connecting to web driver
driver=webdriver.Chrome("chromedriver.exe")
url=("https://www.naukri.com/")
driver.get(url)

In [26]:
#finding web element for search job and location bar using relative xpath
search_job=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_locn=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_job.send_keys("Data Analyst")
search_locn.send_keys("Bangalore")

#clicking using absolute xapth function 
search_btn=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_btn.click()

In [40]:
#creating empty list for scraping data
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

#scraping the job_title
title_tag=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in title_tag:
    job_title.append(i.text)
    
#scraping job_location
locn_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span')
for i in locn_tag:
    job_location.append(i.text)
    
#scraping company_name
company_tag=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
for i in company_tag:
    company_name.append(i.text)
    
#scraping experince_required
exp_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')
for i in exp_tag:
    experience_required.append(i.text)
    
# creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({})
df["job_title"]=job_title[0:10]
df['job_location']=job_location[0:10]
df['company_name']=company_name[0:10]
df['experience_required']=experience_required[0:10]
df

,job_title,job_location,company_name,experience_required
0,Hiring For Business Data Analyst - Bangalore,Bangalore/Bengaluru,Synechron,5-7 Yrs
1,Junior Data Analyst/ Scientist- Fresher Position,"Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru",Sejal Consulting Hub,0-3 Yrs
2,Assistant Clinical Data Analyst,(WFH during Covid),Labcorp Drug Development India Private Limited,0-2 Yrs
3,Senior Data Analyst - CRM,Bangalore/Bengaluru,Gojek Tech,2-5 Yrs
4,Lead - Data Analyst / Scientist,Bangalore/Bengaluru,Axim Technologies,12-14 Yrs
5,Hiring For Data Analyst,Bangalore/Bengaluru,Flipkart,4-8 Yrs
6,Senior Data Analyst,Bangalore/Bengaluru,Walmart,4-7 Yrs
7,Senior Data Analyst,Bangalore/Bengaluru,SMEDC SERVICES PRIVATE LIMITED,4-8 Yrs
8,Senior Data Analyst - CRM,Bangalore/Bengaluru,GO-JEK India,4-8 Yrs
9,Data Analyst,(WFH during Covid),Verizon,4-9 Yrs

<b>Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.</b>

In [50]:
#connecting to web driver
driver=webdriver.Chrome('chromedriver.exe')
url=("https://www.naukri.com/")
driver.get(url)

In [51]:
#finding web element for search job and location bar using relative xpath
search_job=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input")
search_job.send_keys("Data Scientist")
search_locn=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_locn.send_keys("Bangalore")

#clicking using absolute xapth function 
search_btn=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_btn.click()

In [52]:
#creating empty list for scraping data
job_title=[]
job_location=[]
company_name=[]

#scraping the job_title
title_tag=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in title_tag:
    job_title.append(i.text)

#scraping job_location    
locn_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span')
for i in locn_tag:
    job_location.append(i.text)
    
#scraping company_name
company_tag=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]') 
for i in company_tag:
    company_name.append(i.text)
    
    
df=pd.DataFrame({})
df["job_title"]=job_title[0:10]
df['job_location']=job_location[0:10]
df['company_name']=company_name[0:10]    
df

,job_title,job_location,company_name
0,Sr Data Scientist,Bangalore/Bengaluru,Siemens
1,Senior Manager - Lead Data Scientist,Bangalore/Bengaluru,ExecBoardinAsia
2,Associate Data Scientist,"Chennai, Bangalore/Bengaluru",Shell
3,Junior Programmer - Data Scientist,Bangalore/Bengaluru,GSK India
4,Lead/Senior Data Scientist (NLP),Bangalore/Bengaluru,Samya.AI A FRACTAL Entity
5,Sr . Data Scientist,(WFH during Covid),RKSV
6,Sr. Data Scientist,"Mumbai, Bangalore/Bengaluru",NutaNXT Technologies
7,"Senior Data Scientist, Data Sciences","Pune, Bangalore/Bengaluru, Mumbai (All Areas)",Vmware
8,Lead Data Scientist,(WFH during Covid),Gadgeon Smart Systems
9,Senior Data Scientist,Bangalore/Bengaluru,Dell

<b>Q3: In this question you have to scrape data using the filters available on the webpage as shown below:<br>You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.</b>

In [113]:
#connecting to web driver 
driver=webdriver.Chrome("chromedriver.exe")
url=("https://www.naukri.com/")
driver.get(url)

In [114]:
#finding web element for search job and location bar using relative xpath
search_job=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input")
search_job.send_keys("Data Scientist")

#clicking using absolute xapth 
search_btn=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_btn.click()

#clicking filters by selecting check boxes using absolute xpath
loc=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i")
loc.click()
salary=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i")
salary.click()

In [120]:
#creating empty list for scraping data
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

#scraping job title
job_tag=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in job_tag:
    job_title.append(i.text)

#scraping job_location
locn_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span')
for i in locn_tag:
    job_location.append(i.text)

#scraping company_name    
company_tag=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
for i in company_tag:
    company_name.append(i.text)

#scraping experience_required    
exp_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')
for i in exp_tag:
    experience_required.append(i.text)
    
    
# creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({})
df["job_title"]=job_title[0:10]
df['job_location']=job_location[0:10]
df['company_name']=company_name[0:10]
df['experience_required']=experience_required[0:10]
df

,job_title,job_location,company_name,experience_required
0,Job Opportunity || Data Scientist || HCL Techn...,Delhi / NCR,HCL,2-6 Yrs
1,Data Scientist | Python | Machine Learning | D...,"Noida, Gurgaon/Gurugram, Delhi / NCR",Schlesinger Group,0-3 Yrs
2,Senior Data Scientist I,Gurgaon/Gurugram,Delhivery,3-7 Yrs
3,Data Scientist,Gurgaon/Gurugram,T & A Solutions,2-6 Yrs
4,Openings For Jr/mid/Sr level data Scientists,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Pluto seven business solutions (p) limited,2-6 Yrs
5,Data Scientist role,(WFH during Covid),Mount Talent Consulting Private Limited,1-4 Yrs
6,Urgent Hiring For Data Scientist,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Mount Talent Consulting Private Limited,1-6 Yrs
7,Urgent Hiring For Data Scientist,(WFH during Covid),Mount Talent Consulting Private Limited,1-6 Yrs
8,Data Scientist role,"Gurgaon/Gurugram, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,1-3 Yrs
9,Data Scientist role,"Gurgaon/Gurugram, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,1-3 Yrs

<b>Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image<br>To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the
required data as usual.

In [104]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)
url = "https://www.flipkart.com/"
driver.get(url)

In [105]:
time.sleep(2)
#locating the search bar
search_bar=driver.find_element_by_class_name("_3704LK")
search_bar.send_keys('sunglasses')

In [106]:
time.sleep(3)
#locating the button and clicking it toh search for sunglasses
button=driver.find_element_by_class_name('L0Z3Pu')
button.click()

In [107]:
#fetching brands of sunglasses
brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_names=[]
for i in brand:
    brand_names.append(i.text)
    
#fetching product description of sunglasses
product_desc=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
product_description=[]
for i in product_desc:
    product_description.append(i.text)  
    
#fetching price of sunglasses
price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price_of_sunglass=[]
for i in price:
    price_of_sunglass.append(i.text)  
    
#fetching discount% of sunglasses
discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
discount_percentage=[]
for i in discount:
    discount_percentage.append(i.text)

In [108]:
#searching and clicking next button
next_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
next_button.click()

In [109]:
#fetching brands of sunglasses
brand1=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_names1=[]
for i in brand1:
    brand_names1.append(i.text)
    
#fetching product description of sunglasses
product_desc1=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
product_description1=[]
for i in product_desc1:
    product_description1.append(i.text)
    
#fetching price of sunglasses
price1=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price_of_sunglass1=[]
for i in price1:
    price_of_sunglass1.append(i.text)
    
#fetching discount% of sunglasses
discount1=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
discount_percentage1=[]
for i in discount1:
    discount_percentage1.append(i.text)

In [110]:
#searching and clicking next button
next_button=driver.find_element_by_xpath('//a[@class="_1LKTO3"]')
next_button.click()

In [111]:
#fetching brands of sunglasses
brand2=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_names2=[]
for i in brand2:
    brand_names2.append(i.text)
    
#fetching product description of sunglasses
product_desc2=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
product_description2=[]
for i in product_desc2:
    product_description2.append(i.text)
    
#fetching price of sunglasses
price2=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price_of_sunglass2=[]
for i in price2:
    price_of_sunglass2.append(i.text)
    
#fetching discount% of sunglasses
discount2=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
discount_percentage2=[]
for i in discount2:
    discount_percentage2.append(i.text)

In [112]:
brands_list=brand_names+brand_names1+brand_names2
product_descriptions=product_description+product_description1+product_description2
prices=price_of_sunglass+price_of_sunglass1+price_of_sunglass2
discounts=discount_percentage+discount_percentage1+discount_percentage2

In [113]:
sunglasses=pd.DataFrame({})
sunglasses['brand']= brands_list[:100]
sunglasses['description']= product_descriptions[:100]
sunglasses['price']= prices[:100]
sunglasses['discount']= discounts[:100]

sunglasses

,brand,description,price,discount
0,VINCENT CHASE,by Lenskart UV Protection Aviator Sunglasses (...,₹999,50% off
1,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹349,82% off
2,PIRASO,UV Protection Aviator Sunglasses (54),₹200,87% off
3,Elligator,UV Protection Round Sunglasses (54),₹248,90% off
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹759,15% off
...,...,...,...,...
95,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹426,78% off
96,PHENOMENAL,"UV Protection, Gradient Rectangular Sunglasses...",₹309,84% off
97,ROZZETTA CRAFT,Mirrored Aviator Sunglasses (55),₹383,80% off
98,ROYAL SON,"Polarized, UV Protection Sports Sunglasses (Fr...",₹359,76% off
99,SKYZA INDIA,UV Protection Retro Square Sunglasses (Free Size),₹495,72% off

<b>Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage .<br>As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews</b>

In [12]:
#connecting to the web driver
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

# Opening the website link
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART"
driver.get(url)

In [13]:
#empty list
urls=[]
review=[]
full_review=[]
stars=[]
time.sleep(2)

#scraping 10 pages of url
url_1 = driver.find_elements_by_xpath("//a[@class='ge-49M _2Kfbh8']")
for i in url_1:
    urls.append(i.get_attribute('href'))
url_2 = driver.find_elements_by_xpath("//a[@class='ge-49M']")
for i in url_2:
    urls.append(i.get_attribute('href'))
time.sleep(2)


for i in urls:
    driver.get(i)
    #scrapping the number of stars
    for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        stars.append(j.text)
    #scrapping the short review
    for k in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        review.append(k.text)
    #for scrapping the complete review
    for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
        full_review.append(l.text)

In [14]:
#creating dataframe
iphone = pd.DataFrame({})
iphone['review']= review
iphone['full_review']= full_review
iphone['stars']= stars

iphone

,review,full_review,stars
0,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...,5
1,Simply awesome,Really satisfied with the Product I received.....,5
2,Perfect product!,Amazing phone with great cameras and better ba...,5
3,Best in the market!,Great iPhone very snappy experience as apple k...,5
4,Worth every penny,Previously I was using one plus 3t it was a gr...,5
...,...,...,...
95,Just wow!,The ultimate performance\nCamera is superb\nTh...,5
96,Terrific purchase,I use a Note10+ and have been using both iOS a...,5
97,Awesome,The phone is completely good\nAs far as camera...,5
98,Decent product,Everything u ll like it when u use this iPhone...,3
99,Wonderful,Nice value for money good and best price I pho...,5

<b>Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.</b>

In [281]:
#connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")
url = "https://www.flipkart.com/"
driver.get(url)

In [282]:
#close log_in window
log_in_pop_up = driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
log_in_pop_up.click()

In [283]:
#locating the search bar
search_bar=driver.find_element_by_class_name("_3704LK")
search_bar.clear()
search_bar.send_keys('sneakers')

In [284]:
#locating the button and clicking it to search for sneakers
button=driver.find_element_by_class_name('L0Z3Pu')
button.click()

In [285]:
#creating the empty list
brand=[]
description=[]
price=[]
discount=[]

#scrapping the required details
start=0
end=4
for page in range(start,end):#for loop for scrapping 4 page
    brands=driver.find_elements_by_class_name('_2WkVRV')#scraping brands name by class name='_2WkVRV'
    for i in brands:
        brand.append(i.text)#appending the text in Brand list
    prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")# scraping the price from the xpath
    for i in prices:
        price.append(i.text)
    disc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")# scraping the discount from the xpath
    for i in disc:
        discount.append(i.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [286]:
# Since in some records not getting description so try from inside of urls
urls = []

for page in range(0,4):#for loop for scrapping 4 page
    
    product_url = driver.find_elements_by_xpath("//a[@class='_2UzuFa']")
    for i in product_url:
        urls.append(i.get_attribute('href'))
    
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page
    try:
        driver.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [287]:
for i in urls:
    driver.get(i)
    desc=driver.find_elements_by_xpath('//span[@class="B_NuCI"]')#scraping description from the xpath
    for i in desc:
        description.append(i.text)#appending the description in list

In [288]:
df=pd.DataFrame({'Brand':brand[:100],
                'Description':description[:100],
                'Price':price[:100],
                'Discount':discount[:100]})
df

,Brand,Description,Price,Discount
0,PEHANOSA,Lightweight Pack Of 1 Trendy Sneakers Sneakers...,₹449,55% off
1,Zixer,"White casual, gym,training & canvas shoes for ...",₹631,68% off
2,luxury fashion,Sneakers For Men (Navy),₹449,65% off
3,Magnolia,Casuals Walking Shoes Boxing & Wrestling Shoes...,₹398,60% off
4,URBANBOX,"Sneakers For Men (Black, Red)",₹220,77% off
...,...,...,...,...
95,PUMA,Sneakers For Men (White),"₹5,399",50% off
96,Zsyto,Cozy Stylish And Fashion Printed Double Lace-U...,₹428,64% off
97,WHITE WALKERS,Combo Pack of 2 Casual Shoes Sneakers For Men ...,₹599,40% off
98,BIRDE,Sneakers Sneakers For Men (Grey),₹892,34% off
99,Alvery,Powerjet-05 casual shoes for men | Latest Styl...,₹599,33% off

<b>Q7: Go to the link - https://www.myntra.com/shoes<br>
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown in the below image.<br>
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.

In [257]:
#connecting to the web driver
driver=webdriver.Chrome('chromedriver.exe')
url=('https://www.myntra.com/shoes')
driver.get(url)

In [258]:
#clicking on price filter
filter_price=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
filter_price.click()

In [259]:
#clicking on color filter
filter_color=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
filter_color.click()

In [261]:
#creating empty lists
shoe_names=[]
s_desc=[]
short_desc=[]
price=[]
page_urls = []


# scrape next pages urls
nxt_page = driver.find_elements_by_xpath("//ul[@class='pagination-container']/li/a")
for i in nxt_page:
    page_urls.append(i.get_attribute('href'))
    

for url in page_urls[:3]:
    driver.get(url)
    Names=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")  #for scrapping shoe brand names
    for i in Names:
        shoe_names.append(i.text)
    
    desc=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4") #for scrapping shoe short-description
    for i in desc:
        s_desc.append(i.text)
    #As, the s_desc list contain blank description in every alternate index, so removing the blank or null description
    for j in range(0,len(s_desc),2):
        short_desc.append(s_desc[j])
    
    rs=driver.find_elements_by_xpath("//div[@class='product-price']")  #for scrapping shoe prices
    for i in rs:
        price.append(i.text)   
df=pd.DataFrame({'Brand': shoe_names[:100],'Short-description': short_desc[:100],'Price': price[:100]})
df

,Brand,Short-description,Price
0,Puma,Men Running Shoes,Rs. 7149Rs. 12999(45% OFF)
1,Puma,Men Magnify Nitro Running,Rs. 8449Rs. 12999(35% OFF)
2,Puma,Men Electrify Nitro Running,Rs. 7499Rs. 9999(25% OFF)
3,Saint G,Men Mid-Top Chelsea Boots,Rs. 9810Rs. 10900(10% OFF)
4,Puma,Women Magnify Nitro Shoes,Rs. 7799Rs. 12999(40% OFF)
...,...,...,...
95,Pavers England,Leather Block Heeled Boots with Bows,Rs. 10999
96,Calvin Klein,Suede Party High-Top Block Heeled Boots,Rs. 9999
97,Geox,Suede High-Top Flatform Heeled Boots,Rs. 8399Rs. 11999(30% OFF)
98,Geox,Leather Platform Heeled Boots,Rs. 12599Rs. 17999(30% OFF)
99,Saint G,Women Chunky Sneakers,Rs. 8910Rs. 9900(Rs. 990 OFF)

<b>Q9)Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data</b>

In [36]:
#connecting to the webdriver
driver=webdriver.Chrome("chromedriver.exe")
url=("https://www.ambitionbox.com/")
driver.get(url)

In [37]:
time.sleep(5)
#clicking on job heading 
jobs=driver.find_element_by_xpath("//a[@class='link jobs']")
jobs

In [38]:
time.sleep(5)
jobs.click()

In [39]:
search_box=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input")
search_box.send_keys("Data Scientist")

In [40]:
search_btn=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div/div/div/button/span")
search_btn

In [41]:
time.sleep(3)
search_btn.click()

In [43]:
#clicking filters by selecting check boxes 
locn=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/p")
locn

In [44]:
time.sleep(3)
locn.click()

In [45]:
#searching and filtering the location
search_locn=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
search_locn.send_keys("Noida")

In [46]:
filter_locn=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
filter_locn.click()

In [47]:

time.sleep(5)
#scraping company_name
company_name=[]
company_tag=driver.find_elements_by_xpath('//p[@class="company body-medium"]')
for i in company_tag:
    company_name.append(i.text)

time.sleep(5)
#scraping days_ago 
days_ago=[]
days=driver.find_elements_by_xpath('//span[@class="body-small-l"][1]')
for i in days:
    days_ago.append(i.text)
    
time.sleep(5)
#scraping ratings
ratings=[]
rating=driver.find_elements_by_xpath('//span[@class="body-small"]')
for i in rating:
    ratings.append(i.text)

In [48]:
#creating the DataFrame
df=pd.DataFrame({})
df['company_name']=company_name[:10]
df['days_ago']=days_ago[:10]
df['ratings']=ratings[:10]
df

                 company_name days_ago ratings
0                         HCL   2d ago     3.8
1  Jubilant Foodworks Limited   2d ago     3.9
2        Ameriprise Financial   4d ago     4.0
3                       Paytm  10d ago     3.7
4                CHT Sapiense  11d ago     3.8
5                CHT Sapiense  12d ago     3.8
6                    GI Group  23d ago     4.1
7                    GI Group  23d ago     4.1
8                    GI Group  23d ago     4.1
9                  Cargoflash   1d ago     3.8

<b>Q10)Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [55]:
#connecting to thr webdriver
driver=webdriver.Chrome('chromedriver.exe')
url=('https://www.ambitionbox.com/')
driver.get(url)

In [56]:
#clicking on salaries
salary=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]")
salary

In [57]:
time.sleep(4)
salary.click()

In [58]:
search_box=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
search_box

In [59]:
search_box.send_keys("Data Scientist")

In [60]:
search_box1=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p')
search_box1

In [61]:
search_box1.click()

In [89]:
#scraping company_name
company_name=[]
company_tag=driver.find_elements_by_xpath('//div[@class="name"]/a')
for i in company_tag:
    company_name.append(i.text)
#scraping no_of_salaries
no_of_salaries=[]
salary=driver.find_elements_by_xpath('//div[@class="name"]/span')
for i in salary:
    no_of_salaries.append(i.text)
#scraping min_salaries    
min_salaries=[]
min_salary=driver.find_elements_by_xpath('//div[@class="value body-medium"]')
for i in min_salary:
    min_salaries.append(i.text) 
#scraping average_salaries    
average_salaries=[]
average_salary=driver.find_elements_by_xpath('//p[@class="averageCtc"]')
for i in average_salary:
    average_salaries.append(i.text)
#scraping max_salaries     
max_salaries=[]
max_salary=driver.find_elements_by_xpath('//div[@class="value body-medium"]')
for i in max_salary:
    max_salaries.append(i.text)

In [88]:
#creating the DataFrame
df=pd.DataFrame({})
df['company_name']=company_name[:10]
df['no_of_salries']=no_of_salaries[:10]
df['min_salary']=min_salaries[:10]
df['average_salary']=average_salaries[:10]
df['max_salary']=max_salaries[10:20]
df

,company_name,no_of_salries,min_salary,average_salary,max_salary
0,Walmart,based on 10 salaries,₹ 17.7L,₹ 28.7L,₹ 7.2L
1,Ab Inbev,based on 22 salaries,₹ 35.0L,₹ 19.5L,₹ 20.5L
2,ZS,based on 14 salaries,₹ 15.0L,₹ 15.8L,₹ 8.3L
3,Fractal Analytics,based on 72 salaries,₹ 25.0L,₹ 15.0L,₹ 18.5L
4,Optum,based on 23 salaries,₹ 9.8L,₹ 15.0L,₹ 10.0L
5,UnitedHealth,based on 49 salaries,₹ 20.0L,₹ 13.5L,₹ 21.0L
6,Tiger Analytics,based on 27 salaries,₹ 9.5L,₹ 13.5L,₹ 8.5L
7,Verizon,based on 14 salaries,₹ 22.0L,₹ 12.7L,₹ 15.0L
8,Ganit Business Solutions,based on 13 salaries,₹ 11.0L,₹ 12.4L,₹ 5.8L
9,Ericsson,based on 42 salaries,₹ 21.3L,₹ 11.9L,₹ 21.5L